h1 {
    font-size: 80px;
}

section {
    display: flex;

}

.head {
    width: 50%;
    padding: 4%;
}

.head img {
    width: 100%;
}

.fr {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(240, 164, 24));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.same-page {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(240, 164, 24));
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(imagefile/top-banner.png);
    background-repeat: no-repeat;


}

body {
    margin: 0;
}

.big {
    background-position: right;
    background-image: url(imagefile/back1.png);
    background-repeat: no-repeat;

}